/* menu icon */
i.pe-7s-angle-down{

  font-size: 20px;
  font-weight: 700;
  transition: all .3s;

}
.menu-style-2.handicraft-menu nav > ul > li:hover a i{
    -ms-transform: rotate(180deg); /* IE 9 */
  transform: rotate(180deg);
}

/* image hover Scroll */
/* .box{
  width: 580px;
  height: 400px;
  background: #000;
  transition: ease-in-out 8s;
  background-position: top;
}
box1{
  background-image: url();
  background-size: cover;

}
.box:hover{
  background-position: bottom;
} */
.my-custom-scoll{
  height: 408px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-radius: 5px;
}
.my-scroll img {
  width: 100%;
  height: auto;
  margin: 0 0 8px;
  transition: all ease-in-out 3.2s;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(20%);
}

/* .woo_img_wrapper img {
  display: inline-block !important;
  margin-bottom: 0 !important;} */
.my-scroll img:hover {
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }

/*


.card {
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.card:hover, .card.hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}
.card:hover .card-content, .card.hover .card-content {
  box-shadow: inset 0 3px 0 0 #ccb65e;
  border-color: #ccb65e;
}
.card:hover .card-img .overlay, .card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  transition: opacity 0.2s ease;
  opacity: 1;
}
.card-img {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #fff;
  transition: opacity 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}
.card-img .overlay .overlay-content a:hover, .card-img .overlay .overlay-content a.hover {
  background: #ccb65e;
  border-color: #ccb65e;
}
.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  border-top: 1px solid #E9E9EB;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem 2rem;
  transition: all 0.2s ease;
}
.card-content a {
  text-decoration: none;
  color: #202927;
}
.card-content h2, .card-content a h2 {
  font-size: 1rem;
  font-weight: 500;
}
.card-content p, .card-content a p {
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(32, 41, 28, 0.8);
} */



.owl-theme .owl-dot {
  display: inline-block;
}
.owl-theme span {
  background: none repeat scroll 0 0 #869791;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}
.owl-dots {
  text-align: center;
  padding: 15px 0;
  color: #000;
}
.owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 5px;
  vertical-align: middle;
  transition: all 0.3s;
}
.owl-dots .owl-dot.active {
  background-color: #000;
  width: 10px;
  height: 10px;

}
.owl-dots .owl-dot:focus {
  outline: none;
}
.single-brand {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .6;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  padding: 20px 0;
}
.single-brand img{
    transition:all .3s;
}
.single-brand:hover img{
    margin-top: -5px;
}

.single-brand:hover{
  filter: grayscale(0%);
  opacity: 1;

}
.product-tab-list a {
     border-radius: 4px;
     position: relative;
 }
.product-tab-list a:before,
.product-tab-list a:after {
    content: "";
    position: absolute;
    bottom: -16%;
    left: 45%;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    border: 1px solid #050035;
    transform: rotate(45deg);
    z-index: 1;
}
.product-tab-list a:after {
    background-color: white;
    bottom: -12%;
    left: 45%;
    border: 0;
    z-index: 2;
}


/*pricing table  */
.pricing-table-area {
  padding: 70px 0;
  background: #f8f8f8;
}

.single-table {
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  transition: all .3s ease-in-out;
}
.single-table:hover{
  box-shadow: 0px 2px 30px rgba(0,0,0,0.3); transform: scale(1.04);
}
.single-table:hover h4{
  color: #27c98d;
}
.single-table h4 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #141f4e;
  transition: all .3s ease-in-out;

}
.single-table h2 {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
  color: #141f4e;
}
.single-table h2 span {
  color: #777;
  font-size: 16px;
  font-weight: 400;
}
.single-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single-table ul p {
  font-size: 15px;
  font-weight: 400;
  color: #141f4e;
    text-align: left;
    line-height: 1.6;
    margin-bottom: 0;
}
.single-table a{
    color: #00E466;
}
.single-table a[role='button'] {
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #141f4e;
  border-radius: 3px;
  color: #141f4e;
  padding: 15px 30px;
  margin-top: 15px ;
  display: inline-block;
  text-decoration: none;
}
.single-table a[role='button']:hover{
  background-color: #141f4e;
  color: #fff;
}
.single-table.popular {
  position: relative;
}
.popular-price {
  font-size: 14px;
  position: absolute;
  top: 10%;
  left: 0;
  line-height: 1;
  color: #fff;
  background: #141f4e;
  margin-right: -5px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px 20px;
  transform: rotate(-90deg);
}
.popular-price::before {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  border-right: 0px solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 20px solid transparent;
  border-top: 18px solid transparent;
  top: -1px;
  left: -1px;
}
.single-table.popular a {
  background: #141f4e;
  color: #fff;
}
.my-custom-scrollbar{
    position: relative;
    height: 250px;
    overflow: auto;
}


#my-style-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#my-style-scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#my-style-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*404 Page*/
.my_page_404 img{
    min-width: 100%;
}

.my_page_404 h2{
    text-align: center;
    font-size: 70px;
}
.my_page_404_gif{
    background-image: url(/frontend/img/my-img/404.gif);
    background-position: center;
    background-size: cover;
    height: 300px;
}
.my_page_404_text {
    padding-top: 250px;
}
/**/
.multi-line4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 75px;

}
.multi-line2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /*min-height: 44px;*/
}
.smart-watch-res{
    background-color: #f8f8f8;
}
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}


/*Ring phone animation*/
.phone-drag {
    position: fixed;
    left: 3%;
    bottom: 5%;
    z-index: 999;
}

.Phone {
    position: relative;
    display: block;
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 4rem;
    background-color: #3498db;
    border-radius: 0.5em;
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
    position: absolute;
    content: "";
}

.Phone::before {
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
    animation: phone-outer 3000ms infinite;
}
.Phone.is-animating::before {
    animation: phone-inner 3000ms infinite;
}
.Phone.is-animating::after {
    animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
    }
    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }
}
@keyframes phone-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0);
    }
}
@keyframes phone-icon {
    0% {
        transform: translate3d(0em, 0, 0);
    }
    2% {
        transform: translate3d(0.01em, 0, 0);
    }
    4% {
        transform: translate3d(-0.01em, 0, 0);
    }
    6% {
        transform: translate3d(0.01em, 0, 0);
    }
    8% {
        transform: translate3d(-0.01em, 0, 0);
    }
    10% {
        transform: translate3d(0.01em, 0, 0);
    }
    12% {
        transform: translate3d(-0.01em, 0, 0);
    }
    14% {
        transform: translate3d(0.01em, 0, 0);
    }
    16% {
        transform: translate3d(-0.01em, 0, 0);
    }
    18% {
        transform: translate3d(0.01em, 0, 0);
    }
    20% {
        transform: translate3d(-0.01em, 0, 0);
    }
    22% {
        transform: translate3d(0.01em, 0, 0);
    }
    24% {
        transform: translate3d(-0.01em, 0, 0);
    }
    26% {
        transform: translate3d(0.01em, 0, 0);
    }
    28% {
        transform: translate3d(-0.01em, 0, 0);
    }
    30% {
        transform: translate3d(0.01em, 0, 0);
    }
    32% {
        transform: translate3d(-0.01em, 0, 0);
    }
    34% {
        transform: translate3d(0.01em, 0, 0);
    }
    36% {
        transform: translate3d(-0.01em, 0, 0);
    }
    38% {
        transform: translate3d(0.01em, 0, 0);
    }
    40% {
        transform: translate3d(-0.01em, 0, 0);
    }
    42% {
        transform: translate3d(0.01em, 0, 0);
    }
    44% {
        transform: translate3d(-0.01em, 0, 0);
    }
    46% {
        transform: translate3d(0em, 0, 0);
    }
}
/*product detail*/
.description-review-text img{
    max-width: 100%;
}

.btnCheckout{
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    padding: 9px 20px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.btnCheckout:hover{
    background-color: #050035;
    color: #fff;
    border: 1px solid #050035;
    cursor: pointer;
}
.done i{
    border-radius: 50%;
    font-weight: 900;
    font-size: 90px;
    background-color: #2ecc71;
    color: white;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f7fbfe;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}

.section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}

.section-title h2::before {
    margin: 0 15px 10px 0;
}

.section-title h2::after {
    margin: 0 0 10px 15px;
}

.section-title p {
    margin: 15px 0 0 0;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li + li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #3498db;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: #3498db;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #3498db;
}

.about .content .btn-learn-more:hover {
    background: #3498db;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding-top: 0;
}

.counts .content {
    padding: 0;
}

.counts .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #222222;
}

.counts .content p {
    margin-bottom: 0;
}

.counts .content .count-box {
    padding: 20px 0;
    width: 100%;
}

.counts .content .count-box i {
    display: block;
    font-size: 36px;
    color: #3498db;
    float: left;
}

.counts .content .count-box span {
    font-size: 36px;
    line-height: 30px;
    display: block;
    font-weight: 700;
    color: #222222;
    margin-left: 50px;
}

.counts .content .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #484848;
}

.counts .content .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #484848;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
}

.counts .content .count-box a:hover {
    color: #6f6f6f;
}

@media (max-width: 1024px) {
    .counts .image {
        text-align: center;
    }
    .counts .image img {
        max-width: 70%;
    }
}

@media (max-width: 667px) {
    .counts .image img {
        max-width: 100%;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.services .icon-box::before {
    content: '';
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
}

.services .icon-box:hover::before {
    background: #3498db;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.services .icon {
    margin: 0 auto 20px auto;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3498db;
    transition: all 0.3s ease-in-out;
}

.services .icon i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #111;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.services .icon-box:hover .title a, .services .icon-box:hover .description {
    color: #fff;
}

.services .icon-box:hover .icon {
    background: #fff;
}

.services .icon-box:hover .icon i {
    color: #3498db;
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
    transition: color 0.3s;
    color: #222222;
    margin: 0 10px;
    padding-top: 8px;
    display: inline-block;
}

.team .member .social a:hover {
    color: #3498db;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member .member-info {
    padding: 25px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #222222;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social {
    opacity: 1;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-item {
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee;
}

.faq .faq-item i {
    color: #8bc4ea;
    font-size: 24px;
    float: left;
    line-height: 0;
    padding: 13px 0 0 0;
    margin: 0;
}

.faq .faq-item h4 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 10px 32px;
    font-family: "Poppins", sans-serif;
}

.faq .faq-item p {
    font-size: 15px;
}
.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color 0.2s ease;
}
.faq-nav .nav-link:hover {
    background-color: #f6f6f6;
}
.faq-nav .nav-link.active {
    background-color: #f6f6f6;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
}
.faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
}
.faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
}

.tab-content .card {
    border-radius: 0;
}
.tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
}
.tab-content .card-header h5 {
    margin: 0;
}
.tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    white-space: normal;
}
.tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;
}
.tab-content .card-body p {
    color: #616161;
}
.tab-content .card-body p:last-of-type {
    margin: 0;
}

.accordion > .card:not(:first-child) {
    border-top: 0;
}

.collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
